[access]
	inheritFrom = All-Projects
[project]
	description = Retro Multi-player Web-based Dungeon Crawler Game
[access "refs/*"]
	owner = group user/Artsiom Skliar (Articho28)
[access "refs/for/refs/*"]
	read = group user/Artsiom Skliar (Articho28)
	push = group user/Artsiom Skliar (Articho28)
	label-Code-Review = -2..+2 group user/Artsiom Skliar (Articho28)
	label-Verified = -1..+1 group user/Artsiom Skliar (Articho28)
	rebase = group user/Artsiom Skliar (Articho28)
	removeReviewer = group user/Artsiom Skliar (Articho28)
	submit = group user/Artsiom Skliar (Articho28)
[access "refs/heads/*"]
	read = group user/Artsiom Skliar (Articho28)
	create = group user/Artsiom Skliar (Articho28)
	push = +force group user/Artsiom Skliar (Articho28)
	pushMerge = group user/Artsiom Skliar (Articho28)
[access "refs/tags/*"]
	push = group user/Artsiom Skliar (Articho28)
	push = +force group user/Artsiom Skliar (Articho28)
